.App {
  padding: 10px;
  background: rgb(173,173,165);
  background: linear-gradient(137deg, rgba(173,173,165,1) 2%, rgba(236,238,111,1) 47%, rgba(240,160,237,1) 95%);
  height: 100vh;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: teal
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 1rem;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
}